{% extends 'blogs/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
    <h1 class='display-4'>Posts</h1>
{% endblock page_header %}

{% block content %}

<a href="{% url 'blogs:new_post' %}">New post</a>
<hr />
  {% for text in texts %}
    <div class="card mb-3">
      <h4 class="card-header">
        {{ text.date_added|date:'M d, Y H:i' }}
        <small><a href="{% url 'blogs:edit_post' text.id%}">Edit post</a></small>
      </h4>
      <div class='card-body'>
        <strong>{{ text.title }}</strong>
        {{text.text|linebreaks }}
      </div>
    </div>
  {% empty %}
    <li>No text have been added blog</li>
  {% endfor %}

{%endblock content %}